{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}
    <h1>User List</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-dark my-2 mx-2" href="{{ path('admin') }}">Back admin dashboard</a>
{% endblock %}
