{{ form_start(form) }}
    {{ form_widget(form) }}
<button onclick="alert('this product try to add')"
        class="btn btn-primary my-2 mx-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
