{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-dark my-2 mx-2" href="{{ path('admin') }}">Back to list</a>
{% endblock %}
